{% extends "base.html" %}

{% block content %}
  <section class="hero is-dark is-medium">
    <div class="hero-body container">
      <p class="title">
        {{ config.extra.site_name | upper() }}
      </p>
      <p class="subtitle has-text-primary">
        ML/Software engineer, open source developer, investor
      </p>
      <a href="https://github.com/james7132" class="button is-rounded is-light is-small is-outlined">
        GitHub
      </a>
      <a href="https://twitter.com/james7132" class="button is-rounded is-light info is-small is-outlined">
        Twitter
      </a>
      <a href="https://www.linkedin.com/in/jamessliu" class="button is-rounded is-light is-small is-outlined">
        LinkedIn
      </a>
    </div>
  </section>
  <section class="section container">
    <a href="https://bevyengine.org/"><h1 class="title">Bevy Engine</h1></a>
    <h2 class="subtitle">
      An open source cross-platform, modular, and high-performance
      general-purpose game
      <br/>
      engine written in Rust. Currently serving as one of its maintainers.
    </h2>
  </section>
  <section class="section container">
    <a href="https://hourai.gg/"><h1 class="title">Hourai</h1></a>
    <h2 class="subtitle">
      A securtity and moderation automation bot for Dsicord
    </h2>
  </section>
  <section class="section container">
    <a href="{{ get_url(path="@/homelab.md") }}"><h1 class="title">Homelab</h1></a>
    <h2 class="subtitle">
      Taking control over my own data by self-hosting my own web services.
    </h2>
  </section>
  <img class="sponsors-image" src="{{ get_url(path="sponsors.svg", cachebust=true) }}}"/>
{% endblock content %}
