<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item is-family-code is-size-4 has-text-success" href="/">
        ~> {{ config.title }}
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="buttons">
          <a class="button is-dark" href="{{ get_url(path="@/about.md") }}">
            About
          </a>
          <a class="button is-dark" href="{{ get_url(path="@/blog/_index.md") }}">
            Blog
          </a>
          <a class="button is-dark" href="https://github.com/james7132">
            GitHub
          </a>
          <a class="button is-dark" href="https://bsky.app/profile/no-bull.sh">
            BlueSky
          </a>
          <a class="button is-danger" href="https://github.com/sponsors/james7132">
            Support
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
