<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        {{ config.extra.site_name | upper() }}
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{ get_url(path="@/about.md") }}">
          About
        </a>
        <a class="navbar-item" href="{{ get_url(path="@/blog/index.md") }}">
          Blog
        </a>
        <a class="navbar-item" href="{{ get_url(path="@/projects/index.md") }}">
          Projects
        </a>
        <div class="buttons">
          <a class="button is-primary" href="https://github.com/sponsors/james7132">
            Support
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
