{% extends "base.html" %}

{% block content %}
  <section class="hero is-dark is-small">
    <div class="hero-body container has-text-centered">
      <p class="title">
        {{ page.title }}
      </p>
      {% if page.date or page.updateDate or page.description %}
        <p class="subtitle">
          {% if page.date or page.updateDate %}
            {% if page.date %}
              {{ page.date | date(format="%B %d %Y") }}
            {% endif %}
            {% if page.updateDate %}
              (Updated {{ page.updateDate | date(format="%B %d %Y") }})
            {% endif %}
            {% if page.description %}
              |
            {%endif %}
          {% endif %}
          {{ page.description }}
        </p>
      {% endif %}
    </div>
  </section>
  {% if page.extra.use_toc %}
    <section class="section container">
      <div class="columns">
        <div class="column content is-one-fifth">
          {% include "toc.html" %}
        </div>
        <div class="column content is-four-fifths">
          <p>{{ page.content | safe }}</p>
        </div>
      </div>
  {% else %}
    <section class="section container post content">
      <p>{{ page.content | safe }}</p>
  {% endif %}
  </section>
{% endblock content %}
